<p id="notice"><%= notice %></p>

<h1>Listing Programs</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th> <%= 'Name' %> </th>
    <th> <%= 'Created' %> </th>
  </tr>
  </thead>

  <tbody>
  <% @programs.each do |program| %>
      <tr>
        <td><%= link_to program.name, program %></td>
        <td><%= program.created_at.strftime("%d %b. %Y") %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program', new_program_path %>
